#sorcery-button.flashing-icon .drawer-icon {
    opacity: 1 !important;
    text-shadow: 0 0 10px #0ff !important;
}

#sorcery-button .drawer-content {
    padding: 10px;
}

#sorcery-button .caution {
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--golden);
}

#sorcery-button .inline-drawer-content label {
    width: 100%;
}

#sorcery-button code-input {
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 5px;
    font-family: var(--monoFontFamily);
    --padding: 5px;
    margin: 5px 0;
    resize: vertical;
    width: 100%;
    height: 150px;
}

#sorcery-button code-input:has(textarea:focus) {
    outline: 1px solid var(--interactable-outline-color-faint);
}

#sorcery-button code-input.sorcery-condition {
    font-family: var(--mainFontFamily);
    height: fit-content;
}

#sorcery-button .sorcery-run-wrapper {
    display: grid;
}

#sorcery-button .sorcery-run-wrapper .sorcery-run {
    grid-area: 1/1;
    align-self: start;
    justify-self: end;
    z-index: 100;
    transform: translate(-5px, 5px);
}

#sorcery-button .sorcery-run-wrapper .sorcery-run:hover {
    background-color: color-mix(in srgb, var(--SmartThemeBlurTintColor), var(--active) 30%);
}

#sorcery-button .sorcery-run-wrapper .sorcery-run i {
    color: var(--active);
}

#sorcery-button .sorcery-run-wrapper code-input {
    grid-area: 1/1;
}

#sorcery-button .sorcery-id {
    width: 3em;
    text-align: center;
    font-size: 0.85em;
    padding: 2px 6px;
    border-radius: 8px;
    background-color: var(--SmartThemeBorderColor);
    color: var(--SmartThemeEmColor);
}

#sorcery-button .sorcery-id span {
    font-weight: bold;
    color: var(--SmartThemeQuoteColor);
}
